<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.CollectionAnswerMapper">

   <insert id="insertCollection">
       insert into collection_answer (user_id,answer_id,status) values (#{userId},#{answerId},1)
   </insert>

    <update id="updateStatus">
        update collection_answer set status = 0 where user_id = #{userId} and answer_id = #{answerId}
    </update>

    <select id="selectAllAnswerByUserId" resultType="CollectionAnswer">
        select user_id userId, answer_id answerId, status from collection_answer where user_id = #{userId} and status = 1
    </select>

    <select id="selectAllAnswerByUserIdByPage" resultType="CollectionAnswer">
         select user_id userId, answer_id answerId, status from collection_answer where user_id = #{userId} and status = 1 limit #{offSet},#{pageSize}
    </select>

    <select id="selectAnswerByUserIdAndAnswerId" resultType="CollectionAnswer">
        select user_id userId, answer_id answerId, status from collection_answer where user_id = #{userId} and answer_id = #{answerId} and status = 1
    </select>
</mapper>