<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.CommentArticleMapper">

    <insert id="insertComment">
        insert into comment_article (comment_id, article_id, user_id, content, create_time, like_num, status)
        values (#{commentId},#{articleId},#{userId},#{content},#{createTime},#{likeNum},#{status})
    </insert>

    <update id="updateStatus">
        update comment_article set status = 0 where comment_id = #{commentId}
    </update>

    <select id="selectAllCommentByArticle" resultType="CommentArticle">
        select comment_id commentId, article_id articleId, user_id userId, content, create_time createTime, like_num likeNum, status
        from comment_article where article_id = #{articleId} and status = 1
    </select>

    <select id="selectAllCommentByArticleByPage" resultType="CommentArticle">
        select comment_id commentId, article_id articleId, user_id userId, content, create_time createTime, like_num likeNum, status
        from comment_article where article_id = #{articleId} and status = 1
        limit #{offSet},#{pageSize}
    </select>

    <select id="selectCommentById" resultType="CommentArticle">
        select comment_id commentId, article_id articleId, user_id userId, content, create_time createTime, like_num likeNum, status
        from comment_article where comment_id = #{commentId} and status = 1
    </select>

    <update id="updateLikeNum">
        update comment_article set like_num = #{likeNum} where comment_id = #{commentId}
    </update>

</mapper>